.dashboard_wrapper {
	position: absolute;
	width: 100%;
	background: $blue;
	padding-top: 30px;

	nav {
		margin: 0 auto;
		width: 70%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		.user_box {
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			font-size: 1.4em;

			ul {
				display: inline;
			}
		}

		.nav_box {
			font-weight: $light;

			.nav_link {
				width: 25%;

				a {
					display: flex;
					flex-direction: column;
					justify-content: center;
					&:hover {
						color: white;
						background-color: black;
						&:after {
							content: '';
							display: block;
							position: absolute;
							top: 94px;
							left: 25px;
							border: 10px solid;
							border-color: black transparent transparent transparent;
						}
					}
				}
				img {
					margin: auto;
				}

			}
		}

		.thumbnail {
			width: 80px;
			height: 80px;
			border-radius: 5px;
			border: 1px solid white;
		}

	}

	.dashboard_container {
		width: 100%;
		background: $gray;
		padding-bottom: 60px;

		h1 {
			font-weight: $light;
		}

		main {
			padding-top: 20px;
			color: black;
			background: $gray;
			width: 70%;
			margin: 0 auto;
		}

		button {
			background-color: $blue;
			border: 1px $blue solid;
			border-radius: 2px;
			color: white;
			font-weight: $light;
			padding: 5px 15px;
			text-align: center;
		}

		.dashboard_header {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.finance_stream {
			display: flex;
			justify-content: space-between;
			font-weight: $light;
			margin-bottom: 20px;

			h2 {
				font-size: 1.5em;
			}

			button {
				display: inline-block;
			}

			.quantity {
				font-size: 1.8em;
				font-weight: $bold;
			}

		}

		.finance_data {
			margin-top: 20px;
			h2 {
				font-size: 1em;
			}
			.product_box {
				background-color: white;
				padding: 1em;
				border-radius: 2px;
				display: flex;
				justify-content: space-around;
				align-items: center;
			}

			.history_box{
				background-color: white;
				padding: 1em;
				border-radius: 2px;
				display: flex;
				justify-content: space-between;
				align-items: center;

				.history_transaction {
					display: flex;
					flex-direction: column;
				}
			}
		}
	}
}
