@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');

$blue: #0BBED3;
$gray: #DADBDB;
$bold: 700;
$regular: 400;
$light: 300;

body {
	color: #fff;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: $regular;
}

a {
	color: #fff;
}

.login_wrapper {
	position: absolute;
	height: 100%;
	width: 100%;
	background-image: url("../etc/login_background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.login_container {
	position: relative;
	margin-top: 10%;
	width: 100%;

	h1 {
		font-size: 2em;
		font-weight: $bold;
	}
	nav {
		li {
			display: inline;
			font-weight: $bold;
			font-size: 0.7em;
		}
	}

	.login_logo {
		padding-bottom: 35px;
		border-radius: 5px;

		img {
			max-width: 100%;
			height: auto;
			margin: 0 auto;
			display: block;
		}
	}
}

.login_panel {
	height: 100%;
	padding: 25px 25px 40px 25px ;
	background: $blue;
	border-radius: 5px;
	text-align: center;

	input[type=password] {
		float: left;
		width: 100%;
		border-radius: 5px;
		border: none;
		display: inline;
	}

	button[type=submit] {
		background-color: #FFF;
		border: 1px #fff solid;
		border-radius: 3px;
		color: #000;
		font-weight: $bold;
		padding: 5px 40px;
		text-align: center;
		margin: 10px;
	}

	.icon {
		width: 20px;
		height: 20px;
	}

	.user_number {
		font-weight: $bold;	
	}

	.input-group-label {
		border: none;
		border-radius: 5px;
		background: $blue;
	}
}


.login_frame {
	position: relative;
	margin-top: 60px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 5px;
	padding: 10px;

	.user_thumbnail {
		margin-top: -50px;
		border-radius: 50%;
		border: 1px solid rgba(255, 255, 255, 0.3);
	}

}

